body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fdf3f3;
    color: #1f1f1f;
    background-image: url("https://cdn.wallpapersafari.com/81/23/sq4ZbEt.webp");
}

header {
    border-radius: 15px 15px 0px 0px;
    background-color: #a00000;
    color: white;
    text-align: center;
    padding: 25px 15px;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
}

header p {
    margin-top: 8px;
    font-size: 1.1rem;
}

nav {
    background-color: #dc2828cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border: 3px solid rgba(33, 23, 23, 0.269) ;
}

nav a {
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

nav a:hover {
    color: #ffe5e0;
}

.buscador {
    display: flex;
}

.buscador input {
    padding: 6px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.buscador button {
    padding: 6px 12px;
    border: none;
    background-color: #d03d3d;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.buscador button:hover {
    background-color: #800000;
}

.introduccion {
    padding: 25px;
    text-align: center;
    font-size: 1rem;
    margin-top: -25px;
}

.tabla-noticias {

    padding: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.tabla-noticias h2 {
    margin-top: -20px;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #fff9f9;
}

th,
td {
    border: 1px solid #d4aaaa;
    text-align: center;
}

th {
    background-color: #a00000da;
    color: white;
}

tr:hover {
    background-color: #fff1f1;
}

.cards {
     background-image: url("https://cdn.wallpapersafari.com/81/23/sq4ZbEt.webp");
    margin-top:80;
    padding: 10px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    background-color: #fdf6f3;
}

.cards h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}



.card {
    background-color: #fff9f9;
    border: 3px solid #e4cfcf;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.07);
}

.card img {
    width: 90%;
    margin-top: 15px;
    border-radius: 10px 10px 10px 10px;
}

.card p {
    padding: 5px;
    font-size: 15px;
}

.card b {
    text-shadow: 0px 2px 2px #ef5b5b;
    font-size: 20px;
    font-family: 'Times New Roman';
}

footer {
    background-color: #a00000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: bottom;
}
